In [237]:
import pandas as pd

In [238]:
data = pd.read_csv("DT-Credit.csv")
# data

In [239]:
data['Own'] = data['Own'].map({'Yes': 1, 'No': 0})
data['Student'] = data['Student'].map({'Yes': 1, 'No': 0})
data['Married'] = data['Married'].map({'Yes': 1, 'No': 0})
# data

In [240]:
data = pd.get_dummies(data, columns=['Region'], prefix='Region')
# data

In [241]:
data[['Region_East', 'Region_South', 'Region_West']] = data[['Region_East', 'Region_South', 'Region_West']].astype(int)
# data

In [242]:
from sklearn.preprocessing import MinMaxScaler

features_to_scale = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education']
scaler = MinMaxScaler()
data[features_to_scale] = scaler.fit_transform(data[features_to_scale])
data

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Balance,Region_East,Region_South,Region_West
0,0.025737,0.210675,0.213723,0.125,0.146667,0.400000,0,0,1,333,0,1,0
1,0.542722,0.443406,0.438695,0.250,0.786667,0.666667,1,1,1,903,0,0,1
2,0.534598,0.476336,0.473566,0.375,0.640000,0.400000,0,0,0,580,0,0,1
3,0.786079,0.662353,0.661417,0.250,0.173333,0.400000,1,0,0,964,0,0,1
4,0.258271,0.309542,0.296963,0.125,0.600000,0.733333,0,0,1,331,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.009882,0.248507,0.240720,0.250,0.120000,0.533333,0,0,1,560,0,1,0
396,0.017075,0.228442,0.228346,0.500,0.560000,0.800000,0,0,0,480,1,0,0
397,0.269560,0.253944,0.256468,0.500,0.586667,0.466667,1,0,1,138,0,1,0
398,0.155287,0.127891,0.111361,0.000,0.280000,0.533333,0,0,1,0,0,1,0
399,0.047351,0.357559,0.362205,0.500,0.546667,0.133333,1,0,0,966,0,0,1

In [243]:
X = data.drop(columns=['Balance'])
y = data['Balance']
print(type(X))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [244]:
from sklearn.model_selection import train_test_split
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.30, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.50, random_state=42)

print(X_train.shape)
print(y_train.shape)
print(X_val.shape)
print(y_val.shape)
print(X_test.shape)
print(y_test.shape)

(280, 12)
(280,)
(60, 12)
(60,)
(60, 12)
(60,)